body
{
		*background-color:#1f242d;
		background:linear-gradient(to top right ,grey,black );
		
		
}
 .heading ul li
{
	display: inline-block;	
}	
img
{
	*length: 50px;
	margin-top: 90px;
	
	height:350px;
	border-radius:50%;
	 box-shadow: 5px 20px 60px 30px #f44336;
}	
  .fa-bars
{
	font-size: 5px;
	color: white;
	opacity: 0;
	
}	
 .fa-xmark
 {
	 opacity:0;
	 color: white;
 } 
nav
{
		
		
		
		background:linear-gradient(to bottom right ,black 45%,grey );
		display:flex;
		align-items:center;
		justify-content: space-between;
		flex-wrap:wrap;
		
}	
  /*------------------- nav ----------------------------------------------*/
nav ul li{
			
		display:inline-block;
		list-style:none;
		margin:10px 20px;
		animation: slideright 2s ease forwards;
	
}	
nav ul li a
{
	color:white;
	text-decoration:none;
	font-size:18px;
	position:relative;
	
	
}
@keyframes slideright
{
	0%{
	
			transform: translateX(-100px);
			opacity: 0;
	}	
	100%
	{
			transform: translateX(0px);
			opacity: 1;
	}	
}	
nav ul li a::after
{
	content: ' ';
	width: 0;
	height:3px;
	background:#f44336;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition:0.5s;	
}
nav ul li a:hover::after
{
	width:100%;
}
/*------------------- home ----------------------------------------------*/
.title 
{
	font-size:30px;
	
	color:white;
	padding: 50px;
	
}
.title h1
{
	
	font-size: 50px;
	height:80px;
	width:1000px;
	padding:10px;
	border-radius:5px;
	background:linear-gradient(to bottom right ,black 45% ,grey);
	animation: slideright 2s ease forwards;
}
.title p
{
	box-shadow: -5px 5px #f44336;
	width:500px;
	padding:10px;
	animation: slideright 2s ease forwards;
}	
.title span
{
	color:#f44336;	
}

/*------------------- about ----------------------------------------------*/
#about
{
	width: 1400px;	
padding: 20px;
 *box-shadow: 10px 20px 30px rgba(0,0,0,0.35),10px 20px 20px rgba(0,0,0,0.45);	
 box-shadow: 20px 50px 50px 20px rgba(0,0,0,0.75);
 
}
.tab
{
	display:flex;
	margin: 20px 0 40px;
	
}	
h2
{
	font-size:38px;
	background-color:black;
	border-radius:5px;
		padding:10px;
		width:250px;
		border:0;
		border-bottom:6px;
		border-color:#f44336;
		border-style:solid;
		color:white;
}	
p.para
{
	color:white;
	font-size:28px;
}	
p.sub-titles
{
	background:linear-gradient(to bottom right ,grey,black );
	padding:5px;
	color:white;
	margin-right: 50px;
	font-size: 28px;
	font-weight:500;
	cursor: pointer;
	position:relative;
		 box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.45);
		 border-radius:5px;
}	
 p.sub-titles::after
{
	
	content: ' ';
	width: 0;
	height:3px;
	background:#f44336;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition:0.5s;	
}
p.sub-titles.active-link:hover::after
{
		width:75%;
}
.contents ul li
{
	margin: 2px 0;	
	color: white;
	font-size:22px;
}
.contents
{
	display: none;
}	
.contents.active-tab
{
		display: block;
}
/*------------------------------------- education ----------------------------------------------*/
#education
{
	width: 1400px;	
padding: 20px;
 *box-shadow: 10px 20px 30px rgba(0,0,0,0.35),10px 20px 20px rgba(0,0,0,0.45);	
 box-shadow: 20px 50px 50px 20px rgba(0,0,0,0.75);
}
#education h4
{
	font-size: 24px;
}
#education small{
	font-size: 18px;	
	color:#f44336 ;
}
#education p
{
	font-size: 20px;
}	
.timeline ul {
 
  padding: 30px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: white;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: white;
  color:black;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent white transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -469px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent white;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color:black;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: white;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}




/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}



/*------------------- skills ----------------------------------------------*/	
#skills
{
	width: 1400px;	
padding: 20px;
color:white;
 *box-shadow: 10px 20px 30px rgba(0,0,0,0.35),10px 20px 20px rgba(0,0,0,0.45);
 box-shadow: 20px 50px 50px 20px rgba(0,0,0,0.75);
}
.skills li{
	margin:20px 0;
	padding: 10px;

}	
.bar 
{
	background: #353b48;
	display:block;
	height: 20px;
	width:75%;
	border: 1px,solid rgba(0,0,0,0.3);
	border-radius:10px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	
}
.bar span{
	height: 100%;
	float: left;
	background:linear-gradient(135deg, #f44336 0%,rgba(252,103,103,1)100%);
	*background:red;
}
.c
{
		width: 90%;
		animation: c 3s;
		
}	
.cpp
{
		width: 75%;
		animation: cpp 3s;
		
}
.python{
	width:85%;
	animation: python 3s;
}
.html
{
	width:90%;
	animation: html 3s;
}	
.css
{
		width:70%;
		animation: css 3s;
}	
.javascript
{
		width:60%;
		animation: javascript 3s;
}	
@keyframes c{
	0%{
		width:0%;
	}
	100%{
		width: 90%;
	}
}
@keyframes cpp{
	0%{
		width:0%;
	}
	100%{
		width: 75%;
	}
}
@keyframes python{
	0%{
		width:0%;
	}
	100%{
		width: 85%;
	}
}
@keyframes html{
	0%{
		width:0%;
	}
	100%{
		width: 90%;
	}
}
@keyframes css{
	0%{
		width:0%;
	}
	100%{
		width: 70%;
	}
}
@keyframes javascript{
	0%{
		width:0%;
	}
	100%{
		width: 60%;
	}
}
#achievements
{
	width: 1400px;	
	padding: 20px;
	color:white;
	*box-shadow: 10px 20px 30px rgba(0,0,0,0.35),10px 20px 20px rgba(0,0,0,0.45);
	box-shadow: 20px 50px 50px 20px rgba(0,0,0,0.75);
}
#achievements li{
	font-size: 28px;
	
	
}
#contact
{
	width: 1400px;	
	padding: 20px;
	color:white;
	*box-shadow: 10px 20px 30px rgba(0,0,0,0.35),10px 20px 20px rgba(0,0,0,0.45);
		box-shadow: 20px 50px 50px 20px rgba(0,0,0,0.75);
}
	
.fa-regular
{
	font-size:40px;
}
.fa-brands
{
	
	font-size: 40px;
}	
.fa-solid{
	font-size: 40px;
}
a 
{
	color: #f44336;
		text-decoration:none;
}
.fa-plus
{
		font-size:25px;
}	
.footer{
	background-color:#424242;
	padding: 10px;
	height: 30px;
	text-align:center;
	
		color:#eeeeee;
}	
@media screen and (max-width: 900px) {
	img
{
	margin-top: 190px;
	
	height:350px;
	border-radius:50%;
	
}	
	
	
		
 	.title 
{
	font-size:40px;
	margin-top:10%;
	color:white;
	padding: 10px;
	
}
.title h1
{
	margin-top: 170px;
	font-size: 50px;
	height:95px;
	width: 650px;
	padding:20px;
	border-radius:5px;
	background:linear-gradient(to bottom right ,black 45% ,grey);
	animation: slideright 2s ease forwards;
}
.title p
{
	box-shadow: -5px 5px #f44336;
	width:500px;
	padding:10px;
	animation: slideright 2s ease forwards;
}
 
	nav ul li a{
		font-size: 13px;
	}
	
	#about
	{
			width: 700px;
	}	
		h2
		{
			width: 300px;
			font-size: 40px;	
		}	
		p.para{
			font-size: 18px;
			
		}
		.contents ul li
{
	margin: 2px 0;	
	color: white;
	font-size:18px;
}
		#education
	{
			width: 700px;
	}
	#skills
	{
			width: 700px;
	}
	#achievements
	{
			width: 700px;
	}
	#contact
	{
			width: 700px;
	}
	
	p.sub-titles
{
	
	font-size: 20px;
	font-weight:500;
	cursor: pointer;
	position:relative;
		 box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.45);
		 border-radius:5px;
}	

  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: 400px;
  }
  .timeline ul li:nth-child(even) div {
    left: 40px;
  }
  .timeline ul li:nth-child(odd) div {
    left: 40px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }
  .bar{
	  height: 10px;
  }
  .fa-regular
{
	font-size:20px;
}
.fa-brands
{
	
	font-size: 20px;
}	
.fa-solid{
	font-size: 20px;
}
a 
{
	color: #f44336;
		text-decoration:none;
}
.fa-plus
{
		font-size:10px;
}
#achievements li{
	font-size:18px;
}

@media screen and (max-width: 600px) {
	.heading ul li
{
	display:block;	
}	
	img
{
	margin-top: 120px;	
	height:250px;
	border-radius:50%;
	 box-shadow: 5px 10px 30px 20px #f44336;
}		
	.title 
{
	font-size:20px;
	margin-top:5%;
	color:white;
	
	
}
.title h1
{
	margin-top: 170px;
	font-size: 25px;
	height:40px;
	width: 230px;
	padding:20px;
	border-radius:5px;
	background:linear-gradient(to bottom right ,black 45% ,grey);
	margin-left:0px;
}
.title p
{
	box-shadow: -5px 5px #f44336;
	width:200px;
	padding:10px;
	animation: slideright 2s ease forwards;
}
  .fa-bars
{
	position:fixed;
	
	font-size: 20px;
	color: white;
	opacity: 1;
	cursor: pointer;
	
}
	nav ul{
		background: #f44336;
		position: fixed;
		top: 0;
		right: -300px;
		widht: 175px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
		
	}
	nav ul li{
		display: block;
		margin: 25px;
	}
	nav ul .fa-xmark
	{
			position: absolute;
			top: -40px;
			left: -30px;
			cursor: pointer;
			opacity: 1;
			font-size: 20px;
	}
	#about
	{
			width: 280px;
	}	
		
		p.para{
			font-size: 18px;
			
		}
		.contents ul li
{
	margin: 2px 0;	
	color: white;
	font-size:18px;
}
		#education
	{
			width: 280px;
	}
	#skills
	{
			width: 280px;
	}
	#achievements
	{
			width: 280px;
	}
	#contact
	{
			width: 280px;
	}
	
	p.sub-titles
{
	
	font-size: 20px;
	font-weight:500;
	cursor: pointer;
	position:relative;
		 box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.45);
		 border-radius:5px;
}	

  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: 200px;
  }
  .timeline ul li:nth-child(even) div {
    left: 40px;
  }
  .timeline ul li:nth-child(odd) div {
    left: 40px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }
  .bar{
	  height: 10px;
  }
  .fa-regular
{
	font-size:20px;
}
.fa-brands
{
	
	font-size: 20px;
}	
.fa-solid{
	font-size: 20px;
}
a 
{
	color: #f44336;
		text-decoration:none;
}
.fa-plus
{
		font-size:10px;
}
#achievements li{
	font-size:18px;
}
}


